* {
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

h1{
    text-align:center;
    font-size: 1.75em;
    margin-top:40px;
    margin-bottom:30px;
}

h2 {
    font-size: 16px;
    font-weight: 800;
}

.menu_item {
    margin: 10px;
    width: 30%;
    background-color: lightgray;   
    position: relative;
	float: left;
}

.menu_item{
    border: 1px solid black;
}

.menu_title{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.menu_title{
    width: 150px;
    height: 40px;
    padding-top: 0px;
    float: right;
    text-align: center;
}

.menu_title > h2{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    float: right;
    text-align: center;
    vertical-align: middle;
}

#title_chicken{
    background-color: salmon;
}

#title_beef{
    background-color: brown;
    color:white;
}

#title_sushi{
    background-color: burlywood;
}

.menu_text > p{
    padding: 10px 10px 10px 10px;
    clear:both;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu_item {
        width: 47%;
    }
    
    #menu_sushi {
        width: 96%;
    }
}

@media (max-width: 767px) {
    .menu_item {
        float: none;
    }
    
    .menu_item {
        width: 96%;
    }
}