body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.menu_item{
    margin: 20px;
}

.menu_item, .menu_title{
    border: 2px solid black;
}

.menu_title{
    width: 150px;
    height: 50px;
    float: right;
    text-align: center;
}
#title_chicken{
    background-color: salmon;
}

#title_beef{
    background-color: brown;
}

#title_sushi{
    background-color: burlywood;
}