* {
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h1{
    text-align:center;
    font-size: 22px;
}

h2 {
    font-size: 16px;
    font-weight: 800;
}

/*
@media (min-width: 100px) and (max-width: 200px) {

}
*/

.menu_item{
    margin: 20px;
    max-width: 500px;
    background-color: lightgray;   
    position: relative;
	float: left;
}

.menu_item{
    border: 2px solid black;
}

.menu_title{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}


.menu_title{
    width: 150px;
    height: 40px;
    padding-top: 0px;
    float: right;
    text-align: center;
}

.menu_title > h2{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    float: right;
    text-align: center;
    vertical-align: middle;
}

#title_chicken{
    background-color: salmon;
}

#title_beef{
    background-color: brown;
    color:white;
}

#title_sushi{
    background-color: burlywood;
    clear:both;
}

.menu_text > p{
    padding: 10px 10px 10px 10px;
    clear:both;
}